<div class="login">
    <h2>Login</h2>
    <form #loginForm = "ngForm" method="post" (submit) = "login()">
        <label>Name:
        <input
            type="text"
            name="name"
            placeholder = "Nadir Patel"
            [(ngModel)] = "user.name"
            #name = "ngModel"
            required>
        </label><br>
        <button
            type="submit"
            name="submit"
            [disabled] = "loginForm.invalid">Get Started</button>
    </form>
    <span *ngIf = "name.invalid"><b>Please enter your name!</b></span>
</div>
