<html>
<body>
<form method="POST" action="/go">
Your Name: <input text="text" name="name"><br>
Location: <select name="location"><option>Seattle</option><option>Burbank</option></select><br>
Favorite Language: <select name="language"><option>JavaScript</option><option>PHP</option></select><br>
Comment (optional):<br>
<textarea name="comment"></textarea><br>
<input type="submit" value="Go">
</form>
</body>
</html>
