<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mongoose Dashboard: New Animal</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        *{
            font-family: Arial,helvetica,sans-serif;
            font-size: 14px;
        }
        h1 {
            font-size: 20px;
            font-weight: bold;
        }
        .quote {
            padding-bottom: 10px;
        }
        .quotesList {
        width: 400px;
        border: 1px dashed blue;
        border-radius: 30px;
        padding: 20px;
        padding-bottom: 20px;
        }
        .messages {
        width: 400px;
        border: 1px dashed red;
        border-radius: 5px;
        }
        </style>
    </head>
    <body>
    <div class="container">

            <!-- tip use JSON.stringify to easily see objects printed in full instead of [object Object] -->
            <!-- based on the structure of your messages, determine how to display them -->
            <% if(messages.newanimal) { %>
            <%- JSON.stringify(messages) %> 
            <% for (var x of messages.newanimal) { %>
            <div class="messages">
            Error: <h4><%= x %></h4>
            </div>
            <% } %>
            <% } %>

        <div class="quotesList">
        <h1>Mongoose Dashboard: Add New Animal</h1>
        <hr>
	    <form method="POST" action="/new">
            <div class="quote">
            Animal Name: <input type="text" name="name"><br>
            Description: <input type="text" name="description"><br>
	    <input type="submit" value="Add Animal">
	    </form>
            </div>
        </div>

    </div>
</body>
</html>
