<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <table class="table">
        <thead>
            <th>id</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
        </thead>
        <tbody>
        {% for u in users %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.first_name}} {{ u.last_name}}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.created_at }}</td>
                <td> <a href="/users/{{ u.id }}">Show</a> <a href="/users/{{ u.id }}/edit">Edit</a> <a href="/users/{{ u.id }}/destroy">Delete</a></td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
<p><a href="users/new">Create new user</a></a></p>
        
        
    
</body>
</html>