<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show User {{ users.id }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .created{
            text-align: left;
            height: 25%;
            width: 50%;
            display: inline-block;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="container">
        <h1>User {{ users.id }}</h1>
        <div class="created">
            <p>Name: {{ users.first_name }} {{ users.last_name }}</p>
            <p>email: {{ users.email }}</p>
            <p>Created at: {{ users.created_at }}</p>
            <p><a href="/users/{{ users.id }}/edit">Edit</a> | <a href="/users/{{ users.id }}/destroy">Delete</a></p>
        </div>

    </div>
</body>
</html>