<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <form action="/register" method="post">
        <p>First Name <input type="text" name="first_name"></p>
        <p>Last Name <input type="text" name="last_name"></p>
        <p>Email <input type="text" name="email"></p>
        <p>Password  <input type="text" name="password"></p>
        <p>Password Again <input type="text" name="password2"></p>

    </form>
    
</body>
</html>