<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Survey Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form method="post" action="/process">
    {% csrf_token %}
    Your Name: <input type="text" name="fullname"><br>
    Dojo Location: <select name="location">
        <option>Burbank</option>
        <option>San Fransisco</option>
        <option>Seattle</option>
        </select><br>
    Favorite Language: <select name="language">
        <option>PHP</option>
        <option>Perl</option>
        <option>Javascript</option>
        </select><br>
    Comments: <textarea name="comments"></textarea>
    <input type=submit>
    </form>
</body>
</html>