body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#row{
	display: flex;
	flex-direction: row;
}

.red{
	height: 50px;
	width: 50px;
	background-color: coral;
}

.blue{
	height: 50px;
	width: 50px;
	background-color: cornflowerblue;
}

